<div id="footer">
    <div
        style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; margin-bottom: 30px; ">
        <div class="div2"
            style="display: flex; flex-direction: column; justify-content: space-between; margin-bottom: 30px;">
            <div style="padding-bottom: 20px;"> <strong> PERFECT STORES &#169;</strong> </div>
            <div>FIND US ON
                <div>
                    <a href="http://www.facebook.com">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                    <a href="http://www.insatgram.com">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                    <a href="http://www.twitter.com">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </div>
            </div>

        </div>
        <div class="div2"
            style="display: flex; flex-direction: column; justify-content: space-between; margin-bottom: 30px; ">
            <div style="padding-bottom: 20px;">
                <strong> CORPRATE INFO</strong>
            </div>
            <div>
                <a href="/aboutus" class="black">About Us</a>
            </div>
            <div>
                <a href="/aboutus" class="black">Privacy Policy</a>
            </div>
            <div>
                <a href="/aboutus" class="black">Terms And Conditions Of Sale</a>
            </div>
            <div>
                <a href="/aboutus" class="black">WEBSITE TERMS & CONDITIONS</a>
            </div>
        </div>
        <div class="div2"
            style="display: flex; flex-direction: column; justify-content: space-between; margin-bottom: 30px;">
            <div style="padding-bottom: 20px;">
                <strong>CUSTOMER SERVICE</strong>
            </div>
            <div>
                Help
            </div>
            <div>
                Track Your Order
            </div>
            <div>
                Sitemap
            </div>
        </div>


    </div>
    <div class="div2"
        style="display: flex; flex-direction: column; justify-content: center; text-align: center; font-family:Tahoma, sans-serif;">
        <p>Customer Service</p>
        <p>For Egypt 02-24803822</p>
        <p>We are open from 7 am to 4 pm 7 days a week (Egypt local time, GMT +2)</p>

        <p id="store" style="font-size: larger;">PERFECT STORE</p>

        <p style="display: inline-block; padding-left: 15%; padding-right: 15%;">© PERFECT STORE's business concept
            is to
            offer fashion and quality at the best price in a sustainable way. PERFECT STORE has
            since it was founded in 2021 grown into one of the world's leading fashion companies. The content of
            this
            site is copyright-protected and is the property of YAYA, HIMA & KIKO.</p>

        <p>
            EGYPT
        </p>
    </div>
</div>