<div class="container">
    <div class="row justify-content-between">

        <nav id="navbar_top" class="navbar navbar-expand-lg navbar-light bg-light col-12 ">

            <div class="col-4 ">
                <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" href="/home">Home</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="/products">Products</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="/findus">FindUs</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-4 ">
                <div class="text-center">
                    <a id="store" href="/home" class="navbar-brand">PERFECT STORE</a>
                </div>

            </div>

            <div class="col">
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Hello, <%= name %>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/profile">Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/cart">
                                <ion-icon name="bag-outline"></ion-icon>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </nav>

    </div>
</div>

<script src="public/js/customerHScript.js"></script>